.banda-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem; /* un poco de aire en general */
    background-image: url(/public/img/morfina001.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banda-title {
    color: #fff;
    text-align: center;
    padding: 2rem 1rem; /* menos padding en mobile */
    font-size: 2rem; /* tamaño adaptable */
}
.banda-title:hover{
  color: #ff1f1f;
}

.txt-banda {
    color: #fff;
    text-align: center;
    
    line-height: 1.6; /* más legible */
    font-size: 1.1rem;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(20%);
    width: 100%;
    height: auto;
    border-radius: 2rem;
}

/* --- Responsive --- */
@media (max-width: 1024px) {
  .txt-banda {
    padding: 0 5rem;
  }
}

@media (max-width: 768px) {
  .banda-title {
    font-size: 1.8rem;
  }
  .txt-banda {
    padding: 0 2rem;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .banda-title {
    font-size: 1.5rem;
    padding: 1.5rem 0.5rem;
  }
  .txt-banda {
    padding: 0 1rem;
    font-size: 0.95rem;
  }
}
