.logos-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column; /* título arriba y logos abajo */
  align-items: center;
  gap: 2rem;
  padding: 2rem 1rem;
  border: 3px double #fff;
  border-radius: 1rem;
}

.logos-title {
  text-align: center;
  color: #fff;
  font-size: 2rem;
}

.logos-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.logoRicotero,
.logoMorfina {
  width: 20rem;
  height: auto;
  max-width: 100%;
}

/* --- Tablets --- */
@media (max-width: 1024px) {
  .logoRicotero,
  .logoMorfina {
    width: 15rem;
  }
}

/* --- Celulares grandes --- */
@media (max-width: 768px) {
  .logos-wrapper {
    flex-direction: column; /* uno arriba del otro */
  }
  .logoRicotero,
  .logoMorfina {
    width: 12rem;
  }
}

/* --- Celulares chicos --- */
@media (max-width: 480px) {
  .logoRicotero,
  .logoMorfina {
    width: 9rem;
  }
}
